.panel {
    letter-spacing: .16px;
    font-family: var(--ff-inter);

    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    grid-gap: 32px;
}
.panel-container {
    max-width: 920px; 

    position: relative;
}
.panel-container::after {
    content: '';
    position: absolute;
    right: -24px;
    background: linear-gradient(270deg, #1A1A1A 4.27%, rgba(26, 26, 26, 0.00) 90.2%);
    width: 250px;
    height: 100%;
    top: 0;
    pointer-events: none;
}
.panel-flex {
    display: flex;
    align-items: stretch;
    grid-gap: 8px;
}
.panel-flex--scroll {
    overflow-x: scroll;
    padding-bottom: 1rem;
}
.panel-flex--wrap {
    flex-wrap: wrap;
}
.panel-flex--scroll::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, .2);
    height: 5px;
}
.panel-flex--scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .4);
    transition: all 300ms ease;
}
.panel-toggle {
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.04);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, .4);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.16px;
    cursor: pointer;
    transition: background-color 300ms ease;
}
.panel-top {
    display: flex;
    align-items: stretch;
    grid-gap: 8px;
}
.panel-search {
    position: relative;
    flex: 1;
}
.panel-search__icon {
    position: absolute;
    left:16px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
}
.panel-search__icon svg, img {
    display: block;
}
.panel-search__input {
    padding: 16px 16px 16px 48px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(255, 255, 255, 0.02);
    outline: none;
    min-height: 56px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.16px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    transition: border 300ms ease;
}
.panel-search__input:focus-visible {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.panel-search__input::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.16px;
    color: rgba(255, 255, 255, .4);
}
.panel-toggle--active {
    background-color: rgba(233, 61, 37, 1);
    color: rgba(255, 255, 255, 1);
}
.panel-toggle:hover {
    background-color: rgba(233, 61, 37, .25);
}
.panel-card {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.04);
    min-height: clamp(120px, 9.125vw, 146px);
    width: 140px;
    padding: 16px;
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;
}
.panel-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: linear-gradient(0deg, #51140C -4.11%, #9B2818 0.95%, #E93D25 0.96%, #B11414 99.21%, #DB3A24 99.27%, #E24523 103.56%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease;
}
.panel-card:hover::before {
    opacity: .25;
}
.panel-card--active::before {
    opacity: 1;
}
.panel-card--active .panel-card__name {
    color: rgba(255, 255, 255, 1);
}
.panel-card__name {
    color: rgba(255, 255, 255, .6);
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    text-align: center;
}
.panel-card__icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-color: #000;

    border-radius: 50%;

    position: relative;
}
.panel-card__name {position: relative;}
.panel-card__icon img {
    position: absolute;

    top: 50%;
    left: 50%;
    width: 46px;
    height: 46px;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    .panel-top {
        flex-direction: column;
    }
}